* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #E84525;
}
.back-arrow {
    position: absolute;
    top: 5%;
    left: 10%;
}
.all-results {
    width: 80%;
}
.results-box {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.89);
    height: 70vh;
    padding: 40px;
    border-radius: 10px;
}
.result {
    color: #24256E;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #C2C2C2;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
}
.correct {
    color: #099934;
}
.wrong {
    color: #E84525;
}
.user {
    display: flex;
    position: absolute;
    right: 10%;
    top: 5%;
    align-items: center;
    gap: 10px;
}
.user p {
    font-weight: 900;
    font-size: 20px;
    color: white;
}