@import url(/assets/fonts/fonts.css);
@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/img/Vectors.png);
    background-repeat:no-repeat;
    background-position: bottom;
    background-size:100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.entrance{
    position: relative;
    width: 100%;
    height: 50px;
    display: grid;
    place-items: center;
    margin-bottom: 80px;
}
h1 {
    font-family: 'wicked';
    font-style: normal;
    font-weight: 400;
    font-size: 84px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 50px;
    position: absolute;
    animation: animiate-h1 3s linear infinite;
}


p {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    color: #224957;
    margin-bottom: 60px;
    
}

.k {
    color: rgb(199, 10, 183);
}

.i {
    color: #eb123a;
}

.r {
    color: rgb(3, 252, 40);
}

.i {
    color: green;
}

.s {
    color: rgb(20, 17, 186);
}

.h {
    color: rgb(222, 150, 16);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-input {
    padding: 1rem 10rem 1rem 2rem;
    background: #D6D6D6;
    border-radius: 10px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #224957;
    margin-bottom: 40px;
}

.submit-btn {
    padding: 1rem 5rem;
    background: #F5AB39;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: none;
    display: grid;
    place-items: center;
}
.submit-btn:hover{
    background: #f39609;
}
.submit-btn:active{
    box-shadow: none;
    transform: scale(0.95);
    background: #cf8008;

}

.submit-btn a {
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 3px;
    font-size: 25px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    text-align: center;
    pointer-events: none;
}
.right-img{
    position: relative;
    animation: right-bear 5s linear infinite;
}
.left-img{
    position: relative;
    animation: left-bear 5s linear infinite;
}
@keyframes animiate-h1 {
    0%{
        top: 0;
    }
    50%{
        top: 30%;
    }
    100%{
        top: 0;
    }
}
@keyframes right-bear {
    0%{
        right: 0;
    }
    50%{
        right: 10%;
    }
    100%{
        right: 0;
    }
}
@keyframes left-bear {
    0%{
        left: 0;
    }
    50%{
        left: 10%;
    }
    100%{
        left: 0;
    }
}
@media screen and (max-width:1500px) {
    .container{
        display: flex;
        justify-content: space-around;
    }
    .right-img{
        width: 180px;
        display: none;
    }
    .left-img{
        width: 230px;
        display: none;
    }
}
@media screen and (max-width:1000px) {
    .container{
        display: flex;
        justify-content: space-around;
    }
    h1{
        font-size: 50px;
    }
    p{
        font-size: 18px;    
    }
    .name-input{
    padding: 1rem 7rem 1rem 2rem;
        
    }
    .submit-btn{
        padding:1rem 3rem;
    }
    .submit-btn a{
        font-size: 20px;
    }
    body{
        background-size: 100% 15vh;
    }
}
@media screen and (max-width:500px) {
    .container{
        display: flex;
        justify-content: space-around;
    }
    h1{
        font-size: 50px;
    }
    p{
        font-size: 18px;    
    }
    .name-input{
    padding: 1rem 4rem 1rem 1rem;
        
    }
    .submit-btn{
        padding:1rem 2rem;
    }
    .submit-btn a{
        font-weight: 500;
        font-size: 20px;
    }
    body{
        padding: 10px;
    }
}